html {
  font-family: "Raleway", sans-serif; }

body {
  min-height: 100vh;
  background-color: #1d1d1d; }

.row {
  margin: 0; }

.container-fluid {
  padding: 0px; }

.main-container {
  background-color: #1d1d1d; }

.nav-style {
  font-family: "Cormorant Garamond"; }

.dropdown-menu {
  background-color: #1d1d1d;
  border: 0.5px solid rgba(255, 255, 255, 0.5);
  padding: 0.2rem; }

.dropdown-item a {
  color: goldenrod; }

.dropdown-item:hover {
  background-color: rgba(255, 255, 255, 0.5); }

button.navbar-toggler:focus {
  outline: 1px solid rgba(255, 255, 255, 0.5); }

.section-header {
  height: 10rem;
  background-color: #1d1d1d;
  font-family: "Tangerine", cursive; }
  .section-header h3 {
    color: whitesmoke;
    font-size: 4rem; }

.bg-para {
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 2em; }

.card-styles {
  text-align: center;
  color: whitesmoke;
  background-color: #1d1d1d;
  opacity: 97%;
  min-height: fit-content;
  margin: 4rem 0;
  font-family: 'Cormorant Garamond'; }
  .card-styles .card-img {
    padding: 0 2rem; }
  .card-styles .card-title {
    font-size: 3rem;
    color: whitesmoke;
    font-family: "Tangerine", cursive; }
  .card-styles .card-text {
    font-size: 1.4rem;
    color: whitesmoke; }

.bg-hero {
  background-image: url("../img/event_purple_edited.jpg"); }

.hero-text-col {
  margin-top: 10rem;
  position: relative;
  font-family: "Tangerine", cursive; }
  .hero-text-col h1 {
    color: whitesmoke;
    font-size: 10rem; }
  .hero-text-col h3 {
    color: whitesmoke;
    font-size: 4rem; }
  .hero-text-col q {
    color: whitesmoke;
    padding-top: 8rem;
    font-size: 3rem; }

.bg-what-we-do {
  background-image: url("../img/champagne_canapes_edited.jpg"); }

.bg-who-we-are {
  background-image: url("../img/wedding_aisle.jpg"); }

.bg-what-people-say {
  background-image: url("../img/champagne_canapes.jpg"); }

.citation {
  color: whitesmoke;
  font-family: "Tangerine", cursive; }

.page-footer a {
  color: rgba(255, 255, 255, 0.5); }

.footer-copyright {
  color: goldenrod; }

.enquire {
  color: whitesmoke; }

.btn-submit {
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 2.5rem;
  font-family: "Tangerine", cursive;
  color: whitesmoke; }
  .btn-submit:focus, .btn-submit .focus {
    box-shadow: none;
    background-color: goldenrod; }
  .btn-submit:hover {
    background-color: whitesmoke;
    border: 1px solid goldenrod; }
  .btn-submit .btn-modal {
    font-family: "Raleway", sans-serif; }

.modal-content {
  background-color: #1d1d1d; }

.btn-modal {
  font-family: "Raleway", sans-serif;
  font-size: 0.8rem; }

.demo-non-form {
  color: initial;
  width: 100%;
  padding: 10px;
  margin: 6px 0 12px 0;
  border: 1px solid #ccc;
  border-radius: 0;
  font-family: arial, verdana, sans-serif;
  font-size: 14px;
  box-sizing: border-box;
  -webkit-appearance: none; }

.external-container button.external-button {
  font-weight: 400;
  padding: 10px;
  margin: 6px 0 13px 0;
  width: 100%; }

.bg-maintenance {
  background-image: url("../img/maintenance_edited.jpg"); }
  .bg-maintenance .bg-trans-dark {
    background-color: rgba(97, 97, 97, 0.554); }

.bg-nav {
  background-color: #1d1d1d; }
