.section-header {
  height: 10rem;
  background-color: #1d1d1d;
  font-family: "Tangerine", cursive; }
  .section-header h3 {
    color: whitesmoke;
    font-size: 4rem; }

.bg-para {
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 2em; }

.card-styles {
  text-align: center;
  color: whitesmoke;
  background-color: #1d1d1d;
  opacity: 97%;
  min-height: fit-content;
  margin: 4rem 0;
  font-family: 'Cormorant Garamond'; }
  .card-styles .card-img {
    padding: 0 2rem; }
  .card-styles .card-title {
    font-size: 3rem;
    color: whitesmoke;
    font-family: "Tangerine", cursive; }
  .card-styles .card-text {
    font-size: 1.4rem;
    color: whitesmoke; }
