.login-form {
  width: fit-content; }
  .login-form label {
    color: #1d1d1d;
    font-family: "Cormorant Garamond";
    font-size: 1.6rem;
    font-weight: bold; }
  .login-form input {
    margin: 0.2rem 0 1rem 0;
    background-color: rgba(97, 97, 97, 0.554);
    color: #1d1d1d;
    padding: 0.4rem;
    font-family: "Cormorant Garamond";
    font-weight: bold;
    font-size: 1.6rem; }
  .login-form .loginButton {
    padding: 0.2rem 1rem;
    background-color: whitesmoke;
    color: black;
    border: none;
    font-weight: bold;
    letter-spacing: 0.07rem;
    padding: 1rem 2rem; }
    .login-form .loginButton:focus {
      background-color: #1d1d1d;
      color: goldenrod;
      box-shadow: none; }
    .login-form .loginButton.active {
      background-color: #1d1d1d;
      color: goldenrod;
      box-shadow: none; }
    .login-form .loginButton:hover {
      background-color: #1d1d1d;
      color: goldenrod; }
