.bg-maintenance {
  background-image: url("../img/maintenance_edited.jpg"); }
  .bg-maintenance .bg-trans-dark {
    background-color: rgba(97, 97, 97, 0.554); }

.bg-nav {
  background-color: #1d1d1d; }

.maintenance-heading {
  font-size: 7rem; }

.maintenance-sub-heading {
  font-size: 5rem; }
